.attribution {
  // background-color: $veryDarkGray;
  text-align: center;
  font-size: 0.6875rem;
  color: $Black;
  background-color: $veryDarkGray;
  height: 15px;
  // padding-right: 1.875rem;

  a {
    // color: hsl(228, 45%, 44%);
  }
}
