// Colors
$white: hsl(0, 0%, 100%);
$Black: hsl(0, 0%, 0%);
$darkGray: hsl(0, 0%, 55%);
$veryDarkGray: hsl(0, 0%, 41%);

// Font Sizes
$font-xxl: 3.25em; //52px
$font-xl: 2.125em; //34px
$font-lg: 1.5625em; //25px
$font-md: 0.9375em; //11px
